<!DOCTYPE html>
<html>

  <head>
    <title>Berkeley Mass Spectral Database</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>



  <nav class = "navbar">
    <ul>
        <li><a href="https://ourenvironment.berkeley.edu">Department of Environmental Science</a> </li>
        <li><a href="https://ourenvironment.berkeley.edu/about-espm">About</a></li>
        <li><a href="https://ourenvironment.berkeley.edu/people/lindsay-yee">Contact</a></li>
        <li><a href="">Tools</a></li>
        <li><a href="">References</a></li>
    </ul>
  </nav>




  <main>
    <h3>Mass Spectral Database (MS Data Visualization)</h3>
    <p id="description">
      A mass spectral database is a collection of mass spectra, which are essentially graphical representations of the masses of ions in a sample plotted against their relative abundances. Mass spectrometry is a technique used to identify chemical compounds based on their mass-to-charge ratio and the relative abundance of ion fragments produced from the sample.
These databases are invaluable tools in analytical chemistry, biochemistry, environmental science, and various other fields where the identification of compounds is essential. Researchers can compare the mass spectra of unknown compounds to those in the database to help identify them.
    </p>
    <a id="link" href="https://isaacasantillan-mspectral-mstest-nphhps.streamlit.app/">Mass Spectral Database</a>
    <img id="seal" src="UC_Berkeley_Seal_80px.png" alt="Berkeley-wordmark-white-UC">
    <div class = "credits">
        <ul>
            <li>Powered By Open Berkeley. Copyright © 2024 UC Regents; all rights reserved. Property of UC Berkeley Department of Environmental Science. Lindsay Yee</li>
        </ul>
    </div>

</main>
</html>
