<html>
  <head>
    <title>Server-Driven Table</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <style>
      body {
        font-family: Sans-Serif;
      }
    </style>
  </head>

  <nav class = "navbar">
    <ul>
        <li><img id="seal" src="{{ url_for('static', filename='UC_Berkeley_Seal_80px.png') }}" alt="Berkeley-wordmark-white-UC"></li>
        <li><a href="https://ourenvironment.berkeley.edu">Department of Environmental Science</a> </li>
        <li><a href="https://ourenvironment.berkeley.edu/about-espm">About</a></li>
        <li><a href="https://ourenvironment.berkeley.edu/people/lindsay-yee">Contact</a></li>
        <li><a href="">Tools</a></li>
        <li><a href="">References</a></li>
    </ul>
  </nav>
  <body>
    
    <div>
      <h1 style="color: white;">Mass Spectral Database</h1>
      <hr>
      <div id="table"></div>
    </div>

     <!-- Table -->
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
      const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
      };

      new gridjs.Grid({
        columns: [
          { id: 'name', name: 'Name' },
          { id: 'rt1', name: 'RT1-A', sort: true },
          { id: 'rt2', name: 'RT2-A',},
          { id: 'suspected_matches', name: 'Suspected Matches', sort: false },
          {id: 'formula', name: 'Formula', sort: false},
          {id: 'mw', name: 'MW', sort: false},
          {id: 'exactmass', name: 'Exact Mass'},
          {id: 'casnumber', name: 'CAS#'},
          {id: 'retention_index', name: 'Retention Index'},
          {id: 'num_peaks', name: 'Number Peaks'},
          {id: 'description', name: 'Description'},
          {id: 'db_number', name: "Database Number"},
          {id: 'synon', name: "Synon"},
        ],
        server: {
          url: '/api/data',
          then: results => results.data,
          total: results => results.total,
        },
        search: {
          enabled: true,
          server: {
            url: (prev, search) => {
              return updateUrl(prev, {search});
            },
          },
        },
        sort: {
          enabled: true,
          multiColumn: true,
          server: {
            url: (prev, columns) => {
              const columnIds = ['name', 'age', 'address', 'phone', 'email'];
              const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
              return updateUrl(prev, {sort});
            },
          },
        },
        pagination: {
          enabled: true,
          server: {
            url: (prev, page, limit) => {
              return updateUrl(prev, {start: page * limit, length: limit});
            },
          },
        },
      }).render(document.getElementById('table'));
    </script>
  <!--Table End-->
  <div class = "credits">
    <ul>
        <li>Powered By Open Berkeley. Copyright © 2024 UC Regents; all rights reserved. Property of UC Berkeley Department of Environmental Science. Lindsay Yee</li>
    </ul>
  </div>

  </body>
</html>
